.footer {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.left-right-container {
    min-width: 98px;
    width: 25%;
}

.copyright-line {
    height: 32px;
}
