<h3>{{ 'items.ejectItem.title' | translate }}</h3>
<ng-container *ngIf="item$ | async as item">
    <rdb-field-value class="rdb-margin-top-32"
                     label="items.ejectItem.fields.name"
                     [value]="item.name">
    </rdb-field-value>
    <rdb-field-value label="items.ejectItem.fields.amount"
                     [value]="item.count.toString()">
    </rdb-field-value>
    <rdb-field-value *ngIf="container$ | async as container"
                     label="items.ejectItem.fields.container"
                     [value]="container.name">
    </rdb-field-value>
    <form class="rdb-margin-top-32" [formGroup]="form">
        <p>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>{{ 'items.ejectItem.inputs.amountToEject' | translate }}</mat-label>
                <input #amountInput matInput [formControl]="form.controls.ejectAmount" type="number" min="1" [max]="item.count" (focus)="onFocus()">
                <mat-error *ngIf="form.controls.ejectAmount.invalid">{{ validationErrorMessageHelper.getErrorMessageByError(form.controls.ejectAmount) | async }}</mat-error>
            </mat-form-field>
        </p>
        <div class="rdb-width-100 rdb-flex rdb-flex-end">
            <button color="primary" type="submit" mat-raised-button [disabled]="form?.invalid" (click)="onEject()">{{ 'common.eject' | translate }}</button>
        </div>
    </form>
</ng-container>
