<div class="rdb-content-padding">
    <h3>{{ (container$ | async) ? 'Edit container details' : 'Add new container' }}</h3>
    <form class="rdb-margin-top-32" [formGroup]="form" cdkTrapFocus cdkTrapFocusAutoCapture>
        <p>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>Container Barcode</mat-label>
                <input matInput [formControlName]="'barcode'" type="text" cdkFocusInitial>
                <mat-icon matIconSuffix>qr_code</mat-icon>
                <mat-error *ngIf="form.controls.barcode.invalid">{{ getErrorMessageByError(form.controls.barcode) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>Container Name</mat-label>
                <input matInput [formControlName]="'name'" type="text">
                <mat-error *ngIf="form.controls.name.invalid">{{ getErrorMessageByError(form.controls.name) }}</mat-error>
            </mat-form-field>
        </p>
        <div class="rdb-width-100 rdb-flex rdb-flex-end">
            <button *ngIf="container$ | async; else addButton" color="primary" type="submit" mat-raised-button [disabled]="form?.invalid" (click)="onUpdateContainer()">{{ 'Save' }}</button>
            <ng-template #addButton>
                <button color="primary" type="submit" mat-raised-button [disabled]="form?.invalid" (click)="onCreateContainer()">{{ 'Add' }}</button>
            </ng-template>
        </div>
    </form>
</div>
