<h3>Add item(s)</h3>
<ng-container *ngIf="item$ | async as item">
    <p class="rdb-margin-top-32">
        <strong>Item: </strong>
        <span>{{ item.name }}</span>
    </p>
    <p>
        <strong>Count: </strong>
        <span>{{ item.count }}</span>
    </p>
    <p>
        <strong>Container: </strong>
        <span>{{ (container$ | async)?.name }}</span>
    </p>
    <form class="rdb-margin-top-32" [formGroup]="form">
        <p>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>Count to add</mat-label>
                <input #countInput matInput [formControlName]="'addCount'" type="number" min="1" (focus)="onFocus()">
                <mat-error *ngIf="form.controls.addCount.invalid">{{ getErrorMessageByError(form.controls.addCount) }}</mat-error>
            </mat-form-field>
        </p>
        <div class="rdb-width-100 rdb-flex rdb-flex-end">
            <button color="primary" type="submit" mat-raised-button [disabled]="form?.invalid" (click)="onAdd()">Add</button>
        </div>
    </form>
</ng-container>
