<mat-form-field class="rdb-width-100" appearance="outline">
    <mat-label>{{ label$ | async | translate }}</mat-label>
    <input #searchInput
           id="search"
           name="search"
           matInput
           [cdkTrapFocus]="false"
           cdkTrapFocusAutoCapture
           type="text"
           [placeholder]="placeholder$ | async | translate"
           (input)="onInput($event)"
           (focus)="selectAll()"
           (keydown.tab)="onFocusOut($event)">
    <mat-icon matPrefix>search</mat-icon>
</mat-form-field>
