<div class="rdb-content-padding">
    <h3>Add new item</h3>
    <form class="rdb-margin-top-32" [formGroup]="form" cdkTrapFocus cdkTrapFocusAutoCapture>
        <p>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>Container Barcode</mat-label>
                <input #barcodeInput matInput [formControlName]="'containerBarcode'" type="text" cdkFocusInitial>
                <mat-icon matIconSuffix>qr_code</mat-icon>
                <mat-error *ngIf="form.controls.containerBarcode.invalid">{{ getErrorMessageByError(form.controls.containerBarcode) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>Container</mat-label>
                <mat-select [formControl]="form.controls.containerId" #containerSelect [tabIndex]="barcodeInput?.value && containerSelect?.value ? -1 : 0">
                    <mat-option *ngFor="let container of (containers$ | async)" [value]="container.id">{{ container.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.containerId.invalid">{{ getErrorMessageByError(form.controls.containerId) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>Item Name</mat-label>
                <input matInput [formControlName]="'name'" type="text">
                <mat-error *ngIf="form.controls.name.invalid">{{ getErrorMessageByError(form.controls.name) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="rdb-width-100" appearance="outline">
                <mat-label>Count</mat-label>
                <input matInput [formControlName]="'count'" type="number" [min]="1">
                <mat-error *ngIf="form.controls.count.invalid">{{ getErrorMessageByError(form.controls.count) }}</mat-error>
            </mat-form-field>
        </p>
        <div class="rdb-width-100 rdb-flex rdb-flex-end">
            <button color="primary" type="submit" mat-raised-button [disabled]="form?.invalid" (click)="onAddNewItem()">Add New Item</button>
        </div>
    </form>
</div>
