<mat-toolbar color="primary" class="rdb-flex rdb-flex-space-between top-toolbar rdb-width-100">
    <div class="rdb-flex rdb-flex-middle">
        <a class="rdb-flex rdb-flex-middle" [routerLink]="appRoutes.items.full()" tabindex="-1">
            <img class="toolbar-logo" src="/assets/images/logo.svg" alt="logo">
        </a>
        <button class="rdb-with-margins rdb-margin-left-24" mat-button [routerLink]="'items'" [routerLinkActive]="'active-link'" [disableRipple]="true">
            <mat-icon>memory</mat-icon>
            <span>Items</span>
        </button>
        <button class="rdb-with-margins" mat-button [routerLink]="'containers'" [routerLinkActive]="'active-link'" [disableRipple]="true">
            <mat-icon>inventory_2</mat-icon>
            <span>Containers</span>
        </button>
    </div>
    <div class="rdb-flex rdb-flex-middle">
        <button mat-button [matMenuTriggerFor]="menu">
            <span>{{ userName }}</span>
            <mat-icon iconPositionEnd>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
