<mat-toolbar color="primary" class="rdb-flex rdb-flex-space-between top-toolbar rdb-width-100">
    <div class="rdb-flex rdb-flex-middle">
        <a class="rdb-flex rdb-flex-middle" [routerLink]="appRoutes.items.full()" tabindex="-1">
            <img class="toolbar-logo" src="/assets/images/logo.svg" alt="logo">
        </a>
        <button class="rdb-with-margins rdb-margin-left-16" mat-button [routerLink]="appRoutes.items.full()" [routerLinkActive]="'active-link'" [disableRipple]="true">
            <mat-icon>memory</mat-icon>
            <span>{{ 'items.tabName' | translate }}</span>
        </button>
        <button class="rdb-with-margins" mat-button [routerLink]="appRoutes.containers.full()" [routerLinkActive]="'active-link'" [disableRipple]="true">
            <mat-icon>inventory_2</mat-icon>
            <span>{{ 'containers.tabName' | translate }}</span>
        </button>
    </div>
    <div class="rdb-flex rdb-flex-middle">
        <button mat-button [matMenuTriggerFor]="menu">
            <span>{{ userName }}</span>
            <mat-icon iconPositionEnd>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="onLogOut()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>{{ 'common.logout' | translate }}</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
