<rdb-content-with-sidenav [routeForClose]="appRoutes.containers.full()">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
            <td *matCellDef="let container">{{ container.name }}</td>
        </ng-container>
        <ng-container matColumnDef="barcode">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Barcode</th>
            <td *matCellDef="let container">{{ container.barcode }}</td>
        </ng-container>
        <ng-container matColumnDef="menu">
            <th class="rdb-text-align-right" mat-header-cell *matHeaderCellDef>
                <button class="rdb-nowrap" color="primary" mat-raised-button [routerLink]="appRoutes.containers.add.full()">
                    <span>Add Container</span>
                    <mat-icon matIconPrefix>add</mat-icon>
                </button>
            </th>
            <td *matCellDef="let container">
                <button [routerLink]="appRoutes.containers.containerId.edit.full(container.id)" class="rdb-inline" mat-icon-button matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="onDelete(container)" class="rdb-inline" mat-icon-button matTooltip="Delete container with all items">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['name', 'barcode', 'menu']; sticky: true"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: ['name', 'barcode', 'menu']"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data-cell" colspan="2">No containers</td>
        </tr>
    </table>
</rdb-content-with-sidenav>
