<div class="full-height-container rdb-flex rdb-flex-center rdb-flex-middle rdb-flex-column">
    <div class="rdb-width-50 rdb-flex rdb-flex-center">
        <img alt="logo" class="logo" src="/assets/images/logo.svg">
    </div>
    <h2 class="rdb-width-50 rdb-text-align-center">Welcome to Radio DB application</h2>
    <h2 class="rdb-width-50 rdb-text-align-center">Please login to proceed</h2>
    <form class="rdb-width-50" [formGroup]="form">
        <p>
            <mat-form-field class="rdb-width-100">
                <mat-label>User Name</mat-label>
                <input matInput [formControlName]="'userName'" type="text">
                <mat-error *ngIf="form.controls['userName'].invalid">{{ getErrorMessageByError(form.controls['userName']) }}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="rdb-width-100">
                <mat-label>Password</mat-label>
                <input matInput [formControlName]="'password'" [type]="(hidePassword$ | async) ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="toggleHidePassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword$ | async">
                    <mat-icon>{{(hidePassword$ | async) ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls['password'].invalid">{{ getErrorMessageByError(form.controls['password']) }}</mat-error>
            </mat-form-field>
        </p>
        <div class="rdb-width-100 rdb-flex rdb-flex-end">
            <button color="primary" type="submit" mat-raised-button [disabled]="form.invalid || form.pristine" (click)="onLogin()">Login</button>
        </div>
    </form>
</div>
